* {
    padding: 0;
    margin: 0;
    gap: 0;
    font-size: large;
}

body {
    background-color: black;
    color: white;
    font-family: Helvetica;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.display-container {
    width: 400px;
    height: 200px;
}

.previous {
    height: 75px;
    font-size: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.current {
    height: 125px;
    font-size: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.layer {
    display: flex;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0;
    margin: 10px;
    font-size: 50px;
}

button:hover {
    filter: brightness(125%);
  }
button[data-number="0"] {
    text-indent: -110px;
    width: 215px;
}

.number, .decimal {
    background-color: #505050;
    color: white;
}

.operator, .equals {
    background-color: #FF9500;
    color: white;
}

.function, .clear, .percentage, .plus-minus {
    background-color: #D4D4D2;
}

@media (max-width: 600px)
{   
    .display-container{
        width: 260px;
    }
    button {
        width: 50px;
        height: 50px;
        display: flex;
        font-size: 25px;
        justify-content: center;
        align-items: center;
    }

    button[data-number="0"] {
        text-indent: -70px;
        width: 120px;
    }
    .bottom-layer{
        display: flex;
    }
}